.FindingAgent {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.autocomplete {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
}
.jumbotron-finding-job {
  align-items: center;
  background-image: url('../assets/images/bg-finding-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; /* Add this */
  color: white;
  border-radius: 0;
  margin: 0;
}
.cardJ {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.divJ {
  text-align: left;
}
.h4J {
  text-align: left;
}
.circleProgress {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.MuiAutocomplete-root {
  padding: 0px 0px 0px 0px;
}
