.FindingAgent {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.autocomplete-agent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
}
.jumbotron-finding-agent {
  align-items: center;
  background-image: url('../assets/images/bg-finding-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px; /* Add this */
  color: white;
  border-radius: 0;
  margin: 0;
}
.cardA {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.divA {
  text-align: left;
}
.h4A, .pA {
  text-align: left;
}

.circleProgress {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

