.container-search-docInfo{
    margin: 50px 100px 500px 100px;
}

.option-autocomp{
    font-size: 15;
}

.img-fwd{
    width: 100%;
}

.img-avatar{
    width: 100%;
}
.header-name-fwg {
    margin-top: 50px;
}