.btnStyle {
    background-color: #0062FF;
    color: white;
    border-radius: 0;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border-radius: 0;
    background-color: Transparent;
}

.nav-link{
    padding: 0;
}
.navbar-toggler:hover{
    opacity: .7;
}
.navbar-toggler-icon {
    border-radius: 0;
    background-image: url(../assets/images/collapse-button.png);
}


.navName {
    color: #323232;
    font-size: 25px;
    ;
    font-weight: bold;
}


.navItem {
    color: #323232;
}

.mr-sm-2,
.form-control {
    border-radius: 0;
}

.user-pic {
    width: 30px;
    padding-left: 5px;
    margin: 0;
}

.form-inline {
    padding-right: 15px;
}

.signIn-nav {
    color: #0062FF;
}

.dropdown-menu-right, .show,d.ropdown-menu, .dropdown-default{
    border-radius: 0;

}