.jumbotron-option {
    align-items: center;
    /* background-image: url('../assets/images/bg2.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
    height: 200px;
    color: white;
    border-radius: 0;
    margin: 0;
    padding: 50px;
}

.header-option {
    padding: 0;
    margin-top: 20px;
}


.header-name {
    margin-top: 50px;
    font-size: 35px;
}


#grad-line {
    height: 10px;
    background-color: #0062FF; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,#0062FF , #00F8FF);
}

.option-content{
    /* background-color: #F4F4F4; */
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .zoom-op {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  
  .zoom-op:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }