.jumbotron-scanning {
    align-items: center;
    background-image: url('../assets/images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px; /* Add this */
    color: white;
    border-radius: 0;
    margin: 0;
  }