.jumbotron-scanning {
  align-items: center;
  background-image: url('../assets/images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px; /* Add this */
  color: white;
  border-radius: 0;
  margin: 0;
}
.card {
  margin-bottom: 1%;
  text-align: center;
}
.qs-div {
  margin-top: 3%;
  margin-bottom: 3%;
}
.btn-div {
  width: 100%;
  text-align: center;
}
.submit-btn {
  width: 100%;
  border-radius: 0;
}