.jumbotron-scanning {
    align-items: center;
    background-image: url('../assets/images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
    height: 75%; /* Add this */
    color: white;
    border-radius: 0;
    margin: 0;
  }